.rbc-event {
    /* padding: 0.2rem 0 0.2rem 0.4rem !important; */
    /* margin: 0.1rem 0.5rem !important; */
    width: calc(100% - 1rem);
}

.rbc-toolbar button {
    border: none;
    border-radius: 0.5rem !important;
    margin: 0.1rem;
}

.rbc-toolbar button + button {
    margin-left: 0.4rem;
}

.rbc-active {
    color: #373a3c;
    border: none;
    box-shadow: none !important;
}

.rbc-header {
    border-bottom: none !important;
}

.rbc-addons-dnd-resize-ns-icon {
    height: 1rem !important;
    width: 100% !important;
    border: none !important;
}

.rbc-addons-dnd-resize-ew-icon {
    height: 100% !important;
    width: 1rem !important;
    border: none !important;
}

.rbc-time-header-cell {
    text-align: center;
}

.rbc-time-header-cell::before {
    content: attr(data-time);
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.rbc-header {
    color: white;
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem !important;
    background: rgba(20, 40, 255, 0.6) !important;
    font-weight: 400;
}

.rbc-all-cell {
    display: none;
}



.rbc-event {
    border: none !important;
    padding: 0rem !important;
}

.rbc-addons-dnd-resizable {
    padding: 0.4rem !important;
}

.rbc-time-header-cell .rbc-today {
    background: #eaf6ff !important;
    color: black;
    
    font-weight: 800;
}

.rbc-current-time-indicator {
    height: 0.125rem !important;
    background-color: #ff0000 !important;
}


