/* @import 'tailwindcss' */





.rbc-event {
    padding: 0.2rem 0 0.2rem 0.4rem !important;
    margin: 0.1rem 0.5rem !important;
    width: calc(100% - 1rem);
}

.rbc-toolbar button {
    border: none;
    border-radius: 0.5rem !important;
    margin: 0.1rem;
}

.rbc-toolbar button + button {
    margin-left: 0.4rem;
}

.rbc-active {
    color: #373a3c;
    border: none;
    box-shadow: none !important;
}